$btn-color-1:#FF784A;
$btn-color-2:#DB3C09;

$page-bg-color:#FFF1EC;

$txt-color-black:#000;
$txt-color-white:#fff;
$txt-color-grey:#373737;
$txt-color-grey-dark:#474747;

$txt-color-dark:#B9380F;
$txt-color-light:#E57D5B;

$txt-color-go:#F38158;